<div class="detalle-container">
  <h1>Detalle del Ticket #{{ ticket.idTicket }}</h1>

  <section class="card">
    <div class="card-header">
      <h2>Información del Ticket</h2>
    </div>

    <div class="info-grid">
      <div class="campo">
        <label>Título</label>
        <span>{{ ticket.titulo }}</span>
      </div>

      <div class="campo">
        <label>Estado</label>
        <span class="badge estado">
          {{ ticket.estado?.nombre }}
        </span>
      </div>

      <div class="campo">
        <label>Prioridad</label>
        <span class="badge prioridad">
          {{ ticket.prioridad?.nombre }}
        </span>
      </div>

      <div class="campo">
        <label>Solicitante</label>
      </div>

      <div class="campo">
        <label>Agente Asignado</label>
        <span class="badge prioridad">
          {{ ticket.agenteAsignado?.username }}
        </span>
      </div>

      <div class="campo">
        <label>Fecha Creación</label>
        <span class="badge prioridad">
          {{ ticket.FechaCreacion }}
        </span>
      </div>

      <div class="campo">
        <label>Última Actualización</label>
        <span class="badge prioridad">
          {{ ticket.FechaActualizacion }}
        </span>
      </div>
    </div>

    <div class="descripcion">
      <label>Descripción</label>
      <div class="descripcion-box">
        {{ ticket.descripcion }}
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <h2>Comentarios</h2>
    </div>

    @for (comentario of comentarios; track comentario.idComentario) {
      <div class="comentario">
        <div class="comentario-header">
          <strong>{{ comentario.usuario?.username || comentario.usuario }}</strong>

          <span>{{ comentario.Fecha | date: 'dd/MM/yyyy HH:mm' }}</span>
        </div>
        <p>{{ comentario.mensaje }}</p>
      </div>
    } @empty {
      <div class="sin-registros">No existen comentarios para este ticket.</div>
    }
  </section>

  <section class="card">
    <div class="card-header">
      <h2>Historial de Cambios</h2>
    </div>

    @for (cambio of historial; track cambio.idHistorial) {
      <div class="historial-item">
        <div class="timeline-dot"></div>

        <div class="timeline-content">
          <p>
            <strong>{{ cambio.usuario.username }}</strong>
            cambió el estado de
            <span class="estado-anterior">
              {{ cambio.estadoAnterior.nombre }}
            </span>
            →
            <span class="estado-actual">
              {{ cambio.estadoActual.nombre }}
            </span>
          </p>

          <small>
            {{ cambio.fechaActualizaciion | date: 'dd/MM/yyyy HH:mm' }}
          </small>
        </div>
      </div>
    } @empty {
      <div class="sin-registros">No hay movimientos registrados.</div>
    }
  </section>
</div>
