<div class="detalle-container">
  <h1>Detalle del Ticket #{{ ticket.idTicket }}</h1>

  <section class="card">
    <div class="card-header">
      <h2>Información del Ticket</h2>
    </div>

    <div class="info-grid">
      <div class="campo">
        <label>Título</label>
        <span>{{ ticket.titulo }}</span>
      </div>

      <div class="campo">
        <label>Estado</label>
        <span class="badge estado">
          {{ ticket.estado?.nombre }}
        </span>
      </div>

      <div class="campo">
        <label>Prioridad</label>
        <span class="badge prioridad">
          {{ ticket.prioridad?.nombre }}
        </span>
      </div>

      <div class="campo">
        <label>Solicitante</label>
      </div>

      <div class="campo">
        <label>Agente Asignado</label>
        <span class="badge prioridad">
          {{ ticket.agenteAsignado?.username }}
        </span>
      </div>

      <div class="campo">
        <label>Fecha Creación</label>
        
        <span class="badge prioridad">
          {{ ticket.FechaCreacion }}
        </span>
      </div>

      <div class="campo">
        <label>Última Actualización</label>
        
        <span class="badge prioridad">
          {{ ticket.FechaActualizacion }}
        </span>
      </div>
    </div>

    <div class="descripcion">
      <label>Descripción</label>

      <div class="descripcion-box">
        {{ ticket.descripcion }}
      </div>
    </div>
  </section>

  <!-- COMENTARIOS -->
  <section class="card">
    <div class="card-header">
      <h2>Comentarios</h2>
    </div>

    <div class="comentario" *ngFor="let comentario of comentarios">
      <div class="comentario-header">
        <strong>{{ comentario.usuario }}</strong>

        <span>
          {{ comentario.fecha }}
        </span>
      </div>

      <p>
        {{ comentario.mensaje }}
      </p>
    </div>

    <div *ngIf="comentarios.length === 0" class="sin-registros">
      No existen comentarios para este ticket.
    </div>
  </section>

  <!-- HISTORIAL -->
  <section class="card">
    <div class="card-header">
      <h2>Historial de Cambios</h2>
    </div>

    <div class="historial-item" *ngFor="let cambio of historial">
      <div class="timeline-dot"></div>

      <div class="timeline-content">
        <p>
          <strong>{{ cambio.usuario }}</strong>
          cambió el estado de
          <span class="estado-anterior">
            {{ cambio.estadoAnterior || 'N/A' }}
          </span>
          →
          <span class="estado-actual">
            {{ cambio.estadoActual }}
          </span>
        </p>

        <small>
          {{ cambio.fechaActualizacion }}
        </small>
      </div>
    </div>

    <div *ngIf="historial.length === 0" class="sin-registros">No hay movimientos registrados.</div>
  </section>
</div>
