<div class="container mt-4">
  <aside class="sidebar">
    <app-user-badge-component [usuario]="usuarioSesion"></app-user-badge-component>
  </aside>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold text-secondary mb-0">
      <i class="bi bi-people-fill me-2 text-primary"></i>Gestión de Usuarios
    </h2>

    <button
      class="btn btn-primary fw-semibold d-flex align-items-center gap-2 shadow-sm py-2"
      (click)="crearUsuario()"
    >
      <i class="bi bi-plus-lg fs-5"></i>
      <span>Crear Usuario </span>
    </button>
  </div>

  <div class="table-responsive shadow-sm rounded border bg-white">
    <table class="table table-hover align-middle mb-0 text-center">
      <thead class="table-dark text-uppercase fs-7 small">
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Email</th>
          <th scope="col">Rol</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (user of usuarios; track user.idUsuario) {
          <tr>
            <td>
              <span class="badge bg-light text-dark border">
                <i class="bi bi-person me-1"></i>{{ user.username }}
              </span>
            </td>
            <td class="text-start ps-4">
              {{ user.nombre }} {{ user.apellidoPaterno }} {{ user.apellidoMaterno }}
            </td>
            <td>
              <small class="text-muted">{{ user.email }}</small>
            </td>
            <td>
              @let nombreRol = user.rol?.nombre?.toLowerCase();
              <span
                class="badge border px-3 py-2"
                [ngClass]="{
                  'bg-danger-subtle text-danger border-danger-subtle':
                    nombreRol === 'administrador',
                  'bg-primary-subtle text-primary border-primary-subtle': nombreRol === 'agente',
                  'bg-success-subtle text-success border-success-subtle': nombreRol === 'usuario',
                  'bg-secondary-subtle text-secondary':
                    !nombreRol ||
                    (nombreRol !== 'administrador' &&
                      nombreRol !== 'agente' &&
                      nombreRol !== 'usuario'),
                }"
              >
                {{ user.rol?.nombre || 'Sin Rol' }}
              </span>
            </td>
            <td>
              @if (user.activo === 1) {
                <span class="badge bg-success bg-opacity-10 text-success rounded-pill px-3">
                  <i class="bi bi-check-circle-fill me-1"></i> Activo
                </span>
              } @else {
                <span class="badge bg-danger bg-opacity-10 text-danger rounded-pill px-3">
                  <i class="bi bi-x-circle-fill me-1"></i> Inactivo
                </span>
              }
            </td>
            <td>
              <div class="d-flex gap-2 justify-content-center align-items-center">
                <button
                  class="btn btn-danger btn-sm px-3 fw-semibold d-flex align-items-center gap-1"
                  (click)="eliminarUsuario(user)"
                >
                  <i class="bi bi-trash-fill"></i>
                </button>

                <button
                  class="btn btn-primary btn-sm px-3 fw-semibold d-flex align-items-center gap-1"
                  (click)="editarUsuario(miRol === 'Administrador', user)"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>
              </div>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="6" class="text-center text-muted py-4 fst-italic">
              <i class="bi bi-people me-2 fs-4 d-block mb-2"></i>
              No se encontraron usuarios registrados en el sistema.
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
